
*.DS_Store

data.json

data/*

config.json

*.wt

*.2016-12-29T04-21-09Z-00000

db/journal/WiredTigerLog.0000000001

db/journal/WiredTigerPreplog.0000000001

db/journal/WiredTigerPreplog.0000000002

*.lock

*.bson

db/WiredTiger

db/WiredTiger.turtle
node_modules
.sync
scrapping_scripts/._files
